@model List<DataBase.Product>

<div>
    <table>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price.ToString()</td>
                <td>@product.ProductCategory.Name</td>
                <td>@product.Description</td>

                <td>
                    <button>
                        <a asp-action="DeleteProduct" asp-controller="MainPage" asp-route-productId="@product.Id">Delete</a>
                    </button>
                    <button>
                        <a asp-action="ManageProduct" asp-controller="ProductManage" asp-route-productId="@product.Id">Change</a>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <button>
        <a asp-action="AddProduct" asp-controller="MainPage">Create</a>
    </button>
</div>